# Built binaries and objects
bin/
obj/

# NuGet Packages
packages/
dotnetcli/
*.nupkg

# Visual Studio temp files
.vs/
project.lock.json
*.tmp

# General temp files
*.log

# Visual Studio profiling files
*.vspx
*.vsp
*.user

# Devs can hardcode passwords in their test file without sharing with the rest of the world
/RunTests.cmd

# Temporary folder used to store testing collateral
/Temp/