# Built binaries and objects
bin/
obj/

# NuGet Packages
packages/
*.nupkg

# Visual Studio temp files
.vs/
*.lock.json

# General temp files
*.log

# Visual Studio profiling files
*.vspx
*.vsp